<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156155974-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-156155974-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <link href="public/css/index.css" rel="stylesheet">
    <!--  -->
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/di12po0kz/image/upload/v1583465945/favicon_transparent_gefeb5.png"
        type="image/x-icon">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="public/js/index.js"></script>
    <title>Uplift TMS</title>
</head>

<body>
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
        <div class="title-bar-title">
            <img src="https://res.cloudinary.com/di12po0kz/image/upload/v1583465946/UPLift_Logo_Horizontal_eczd7r.png"
                alt="Uplift Logo" class="uplift-logo">
        </div>
        <button class="menu-icon" type="button" data-toggle="menu"></button>
    </div>

    <!-- Start Top Bar -->
    <div class="row columns">
        <div class="top-bar" id="menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="/" style="padding: 0px;"><img
                                src="https://res.cloudinary.com/di12po0kz/image/upload/v1583465946/UPLift_Logo_Horizontal_eczd7r.png"
                                alt="Uplift Logo" class="uplift-logo show-for-medium"></a></li>
                    <li><a class="menu-item show-for-small-only" href="/demo">Demo.</a></li>
                    <li><a class="menu-item show-for-small-only" href="/pricing">pricing.</a></li>
                    <li><a class="menu-item show-for-small-only" href="/features">Features.</a></li>
                    <li><a class="menu-item show-for-small-only" href="/contact_us">Contact.</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a class="menu-item show-for-medium" href="/demo">Demo.</a></li>
                    <li><a class="menu-item show-for-medium" href="/pricing">Pricing.</a></li>
                    <li><a class="menu-item show-for-medium" href="/features">Features.</a></li>
                    <li><a class="menu-item show-for-medium" href="/contact_us">Contact.</a></li>

                    <li><a href="#signInModal" class="button small blue-button" rel="modal:open">Sign In</a></li>
                    <li><a href="#signUpModal" rel="modal:open" class="button small orange-button">Sign Up<i
                                class="fi-arrow-right orange-button-arrow"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Top Bar -->

    <div class="white-background">
        <div class="row">
            <div class="columns small-12 large-12">
                <br><br><br>
                <h2>Uplift Transport Management System Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 large-6">
                <br>
                <h4>Organisation</h4>
                <br>
                <ul class="feature-text">
                    <li>Enter client details. Create accounts for clients to login and view their orders and deliveries.
                    </li>
                    <li>Define pickup and delivery locations. Select via a map every each places latitude and longitude,
                        allowing for geographic visibility.</li>
                    <li>Enter the details of your own vehicles. Connect us with your GPS provider to see vehicles moving
                        consignments in real time.</li>
                </ul>
            </div>
            <div class="columns small-12 large-6">
                <br>
                <img src="https://res.cloudinary.com/di12po0kz/image/upload/v1583620946/uplift_places_vzi9vf.png">
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="columns small-12 large-6">
                <br>
                <img src="https://res.cloudinary.com/di12po0kz/image/upload/v1589066090/nz_ratezones_ghsxwk.png">
            </div>
            <div class="columns small-12 large-6">
                <br>
                <h4>Finance</h4>
                <br>
                <ul class="feature-text">
                    <li>First create rate-zones, geographic boundaries which encompass pickup and delivery locations.
                    </li>
                    <li>Next, define company wide or client specific rates. Rates require a 'to' and 'from' rate-zone,
                        along with a rate code (what you are actually carrying).
                        Rates apply to each job, and can be either per unit (quantity, weight, or cubic), or stepped
                        rates.</li>
                    <li>Finally, once a job is created a rate is calculated as assigned and an invoice is created. Once
                        you have approved and verified each invoice, you can batch any number of invoice and send them
                        to your account package of choice.</li>
                    <li>Can generate Xero invoice files, with other accounting package formats on their way.</li>
                </ul>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="columns small-12 large-6">
                <br>
                <h4>Dispatch</h4>
                <br>
                <ul class="feature-text">
                    <li>Uplift allows you to book either freight or container jobs. Provide information such as goods
                        information, required dates and time, and special instructions for the drivers.</li>
                    <li>Plan the job's journey using our legging based dispatch tool. Allocate jobs to vehicles and
                        trailers, and define a route for multi-leg jobs. Once happy with a plan, mark it as ready to
                        send to your drivers mobile app.</li>
                    <li>Create lists of jobs with our manifest tool. This allows superior visibility for a group of
                        related jobs </li>
                </ul>
            </div>
            <div class="columns small-12 large-6">
                <br>
                <img
                    src="https://res.cloudinary.com/di12po0kz/image/upload/v1583621214/uplift-dispatch-freight_xgsmmx.png">
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="columns small-12 large-6">
                <br>
                <img src="https://res.cloudinary.com/di12po0kz/image/upload/v1589073606/mobile_mockup_bqpc5q.png">
            </div>
            <div class="columns small-12 large-6">
                <br>
                <h4>Driver Mobile App</h4>
                <br>
                <ul class="feature-text">
                    <li>Allows drivers to sign in from any mobile device with an internet connection. Limit driver to a
                        single vehicle, or allow jumping between any vehicle they may possibly drive.</li>
                    <li>Gives drivers a list of current jobs. Capture details in real time as drivers use the app to
                        notify dispatch when jobs are uplifted, offloaded, or transferred to another vehicle.</li>
                    <li>Capture digital signatures from recipients with our sign-on-glass feature.</li>
                    <li>Currently available for Android. iOS currently under development.</li>
                </ul>
            </div>
        </div>
        <br><br><br>
    </div>

    <div class="blue-background">
        <br><br><br>
        <div class="row">
            <div class="columns small-6 large-6">
                <h3><span style="font-weight: bold; color: #ff8925">Sign up today.</span><br><span style="color: #fff">It's
                        easy.</span></h3>
            </div>
            <div class="columns small-6 large-6">
                <a class="button medium orange-button" style="float: right;" href="#signUpModal" rel="modal:open">Sign up
                    here <i class="fi-arrow-right orange-button-arrow"></i></a>
            </div>
        </div>
        <br><br><br>
    </div>

    <!-- <% include ../modals/sign_up.ejs %>

    <% include ../modals/sign_in.ejs %>

    <% include ../modals/terms_and_services.ejs %> -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>