<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156155974-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-156155974-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <link href="public/css/index.css" rel="stylesheet">
    <!--  -->
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/di12po0kz/image/upload/v1583465945/favicon_transparent_gefeb5.png"
        type="image/x-icon">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="public/js/index.js"></script>
    <title>Uplift TMS</title>
</head>

<body>
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
        <div class="title-bar-title">
            <img src="https://res.cloudinary.com/di12po0kz/image/upload/v1583465946/UPLift_Logo_Horizontal_eczd7r.png"
                alt="Uplift Logo" class="uplift-logo">
        </div>
        <button class="menu-icon" type="button" data-toggle="menu"></button>
    </div>
    
    <!-- Start Top Bar -->
    <div class="row columns">
        <div class="top-bar" id="menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="/" style="padding: 0px;"><img src="https://res.cloudinary.com/di12po0kz/image/upload/v1583465946/UPLift_Logo_Horizontal_eczd7r.png"
                            alt="Uplift Logo" class="uplift-logo show-for-medium"></a></li>
                    <li><a class="menu-item show-for-small-only" href="/demo">Demo.</a></li>
                    <li><a class="menu-item show-for-small-only" href="/pricing">pricing.</a></li>
                    <li><a class="menu-item show-for-small-only" href="/features">Features.</a></li>
                    <li><a class="menu-item show-for-small-only" href="/contact_us">Contact.</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a class="menu-item show-for-medium" href="/demo">Demo.</a></li>
                    <li><a class="menu-item show-for-medium" href="/pricing">Pricing.</a></li>
                    <li><a class="menu-item show-for-medium" href="/features">Features.</a></li>
                    <li><a class="menu-item show-for-medium" href="/contact_us">Contact.</a></li>
                    
                    <li><a href="#signInModal" class="button small blue-button" rel="modal:open">Sign In</a></li>
                    <li><a href="#signUpModal" rel="modal:open" class="button small orange-button">Sign Up<i
                                class="fi-arrow-right orange-button-arrow"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="white-background">
        <div class="grey-background">
            <div class="row small-up-1 medium-up-3 large-up-3">
                <div class="column column-block">
                    <div class="card">
                        <h5 class="card-title">Owner Driver</h5>
                        <hr>
                        <br>
                        <h2>$0 / month</h2>
                        <p class="card-text">Free for single vehicle operations. No reason not to see if it works for
                            you.</p>
                        <a class="button small card-button orange-button" href="#signUpModal" rel="modal:open">Sign Up
                            <i class="fi-arrow-right orange-button-arrow"></i></a>
                    </div>
                </div>
                <div class="column column-block">
                    <div class="card">
                        <h5 class="card-title">Small Business</h5>
                        <hr>
                        <br>
                        <h2>$20 / month</h2>
                        <p class="card-text">Flat monthly charge for up to 4 vehicles. Sign up free for three month free
                            trial.</p>
                        <a class="button small card-button orange-button" href="#signUpModal" rel="modal:open">Sign Up
                            <i class="fi-arrow-right orange-button-arrow"></i></a>
                    </div>
                </div>
                <div class="column column-block">
                    <div class="card">
                        <h5 class="card-title">Professional</h5>
                        <hr>
                        <br>
                        <h2>$100 / month</h2>
                        <p class="card-text">Flat charge for any amount of usage. Sign up free for three month free
                            trial.</p>
                        <a class="button small card-button orange-button" href="#signUpModal" rel="modal:open">Sign Up
                            <i class="fi-arrow-right orange-button-arrow"></i></a>
                    </div>
                </div>

            </div>
            <div class="row small-up-1">
                <div class="callout primary column column-block">
                    <h5 style="font-weight: bold;">Pricing Information</h5>
                    <p>All pricing is in New Zealand Dollars (NZD)</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="blue-background">
        <br><br><br>
        <div class="row">
            <div class="columns small-6 large-6">
                <h3><span style="font-weight: bold; color: #ff8925">Sign up today.</span><br><span style="color: #fff">It's
                        easy.</span></h3>
            </div>
            <div class="columns small-6 large-6">
                <a class="button medium orange-button" style="float: right;" href="#signUpModal" rel="modal:open">Sign up
                    here <i class="fi-arrow-right orange-button-arrow"></i></a>
            </div>
        </div>
        <br><br><br>
    </div>

    <!-- <% include ../modals/sign_up.ejs %>

    <% include ../modals/sign_in.ejs %>

    <% include ../modals/terms_and_services.ejs %> -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>